// ## Colors

// ### Primary
$clr-primary-1: #0d6efd;
$clr-primary-2: #6610f2;
$clr-primary-3: #6f42c1;
$clr-primary-4: #d63384;
$clr-primary-5: rgb(255, 230, 0);
$clr-primary-6: #198754;
$clr-primary-7: rgb(0, 255, 163);
$clr-primary-8: #0dcaf0;
$clr-primary-9: rgb(82, 95, 228);
$clr-primary-10: #198754;
$clr-primary-11: #0dcaf0;
$clr-primary-12: #ffc107;
$clr-primary-14: #dc3545;
$clr-primary-15: #212529;

// ### Grey
$clr-grey-1: #6c757d;
$clr-grey-2: #343a40;
$clr-grey-3: #f8f9fab2;
$clr-grey-4: #f8f9fa;

// ###W&B
$clr-black: #000000;
$clr-white: #ffffff;

// ##Typography
// ###Body Copy
$extra-small-size: 0.9rem; // 16px
$small-size: 1.1rem; // 16px
$mediam-size: 2.4rem; // 46px
$larg-size: 3.3125rem; // 53px
$transition: all 0.3s linear;
$normal-transition: all 0.3s;
$spacing: 0.25rem;
$radius: 0.625rem;
$l-radius: 1.25rem;
$opacity: 0.9;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
$max-width: px;
$fixed-width: px;

// ##Font
$f-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
	"Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// Weights:
